html {
    scroll-behavior: smooth;
}

ul {
    background: palevioletred;
    transform: translateX(200%);
    transition: 0.5s ease-out;
}

.expanded {
    transform: translateX(0%);
    background: yellowgreen;
}
